*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-content{
    /* border: 1px solid black; */
    height: 880px;
    background-color: #11352b;
}

.upper-data{
    /* border: 1px solid black; */
    height: 122px;
    background-color: #124436ee;
    text-align: center;
    font-size: larger;
    color: azure;
    padding: 34px;
}

.boxes{
    border: 1px solid black;
    height: 641px;
    display: flex;
    padding: 5%;
}

#left-part{
    /* border: 1px solid black; */
    flex: 1;
}

#left-img{
    width: 720px;
    height: 535px;
}

#right-part{
    /* border: 1px solid black; */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 62px;
}

#right-part-small{
    /* border: 1px solid black; */
    flex: 1;
    display: flex;
    justify-content: space-around;
}

#small-box{
    /* border: 1px solid black; */
    flex: 1;
}

#box-img{
    width: 350px;
    height: 230px;
}