/* genral styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

/* the top layer of the website */
.starting-section{
    width: 100%;
    height: 880px;
    background-image: url("cities/tz-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 -223px 102px -42px rgba(0, 0, 0);


}

.link-section{
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100px;
    padding-top: 12px;
    display: flex;
}

#logo-display{
    width: 20%;
    padding: 23px;
}

#links{
    display: flex;
    justify-content: space-evenly;
    padding: 23px;
    width: 100%;
}

#links a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#dropdown{
    position: relative;
}

#dropdown-content{
    opacity: 0;
    overflow: visible;
    position: absolute;
    transform: translateY(-100%);
    transition: all 0.3s ease-out;
}

#dropdown-content a{
    font-size: 14px;
    display: block;
}

#dropdown:hover #dropdown-content{
    opacity: 1;
    transform: translateY(0);
}

#dropdown-links{
    background-color: rgba(0, 0, 0, 0.205);
    margin-top: 1px;
    transition: 0.55s;
    margin-left: -28px;
    width: 146px;
    padding: 4px;
}

#dropdown-links:hover{
    background-color: rgba(0, 0, 0, 0.459);
}

.heading{
    display: flex;
    justify-content: space-evenly;
    margin-top: 250px;
    color: aliceblue;
    font-size: 220px;
    font-weight: 1000;
}

.sentence{
    color: aliceblue;
    font-size: 28px;
    font-weight: 700;
    margin-left: 90px;
}

/* the cities image slider section */
#slider-title{
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#cities{
    font-size: 40px;
    font-weight: 600;
}

.cities-slider #slider-links #pics-slider {
    width: 142px;
    height: 550px;
    margin-right: 1%;;
    transition: all 0.65s ease-in-out;
}

.cities-slider #slider-links #pics-slider:hover {
    width: 1000px;
    margin-right: 0;
}

.cities-slider #slider-links #pics-slider:first-child:hover {
    margin-left: 0;
}

.cities-slider #slider-links #pics-slider:last-child:hover {
    margin-right: 0;
}

.cities-slider #slider-links #pics-slider img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.cities-slider #slider-links {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}
.cities-slider #slider-links::-webkit-scrollbar {
    display: none;/* Hide scrollbar for Chrome, Safari, and Opera */
}
#slides{
    border: 2px solid white;
    border-radius: 48px;
}

.country-info{
    margin-top: 200px;
    margin-bottom: 200px;
    color: white;
    font-size: 26px;
    padding: 60px;
}

.short-description{
    margin-bottom: 200px;
}

h1{
    text-align: center;
    margin-bottom: 200px;
}

#info{
    margin: 200px;
}

#about-img{
    width: 1175px;
    height: 600px;
    border: 2px solid white;
    border-radius: 300px;

}

#aboutimg-div{
    text-align: center;
}

.footer{
    color: white;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: start;
    height: 400px;
}

#left-footer{
    width: 35%;
    padding: 60px;
}

#right-footer{
    width: 45%;
    padding: 50px;
}

#follow-footer{
    width: 60px;
    margin: 22px;
    cursor: pointer;
}